// File: comment.scss
// Author: Bas Jacobs


/* comments */

#comments {
    display: block;
    margin-top: 15px;
}

.post #comments h3 {
    font-size: 1.7em;
    line-height: 1.45em;
    color: #818181;
    border-bottom: 2px solid #ddd;
    border-top: 2px solid #ddd;
    padding: 6px 10px;
    background: #f5f5f5;
}

#comments #respond {
    margin-left: 0;
}

#comments .commentlist .comment #respond {
    margin-left: 35px;
    font-size: 1.0em;
}
/* for the threaded reply comment form styles */

#cancel-comment-reply {
    font-weight: bold;
    display: block;
    position: relative;
}

#cancel-comment-reply-link {
    display: block;
    padding: 0px 4px;
    font-size: 0.8em;
    position: absolute;
    right: 0;
    top: -12px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    transition: none;
    -webkit-transition: none;
    -moz-transition: none;
}

#cancel-comment-reply-link:hover {
    color: #fff;
    text-decoration: none;
    background: #5d9de5;
}

.commentlist {
    list-style: none;
}

.commentlist .comment {
    display: block;
    position: relative;
    margin-bottom: 28px;
}

.commentlist .comment .comment-author {
    position: relative;
}

.commentlist .comment .comment-author .avatar {
    display: inline-block;
    padding: 5px;
    background: #fafafa;
    border: 1px solid #ccc;
    margin-right: 15px;
}

.commentlist .comment .comment-author .fn {
    font-weight: bold;
    font-size: 1.65em;
    line-height: 1.1em;
    font-style: normal;
    position: absolute;
    top: 2px;
    color: #535353;
}

.commentlist .comment .comment-author .says {
    display: none;
}

.commentlist .comment .comment-meta {
    position: absolute;
    top: 25px;
    margin-left: 60px;
    font-size: 1.2em;
}

.commentlist .comment p {
    display: block;
    margin-top: 15px;
    padding-right: 10px;
}

.commentlist .comment .comment-body .reply {
    font-size: 1.3em;
}

.commentlist .comment .comment-body .reply a.comment-reply-link {
    display: inline-block;
    padding: 3px 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    transition: none;
    -webkit-transition: none;
    -moz-transition: none;
}

.comment-awaiting-moderation {
    font-size: 1.2em;
    color: #444;
    display: block;
    text-decoration: underline;
    text-align: center;
    margin-top: 4px;
    margin-bottom: -5px;
}

.commentlist .comment ul.children {
    margin-left: 40px;
    padding-top: 15px;
}

#commentform {
    display: block;
    width: 100%;
    margin-bottom: 0;
    margin-top: 6px;
}

#commentform label {
    font-size: 1.2em;
    line-height: 1.6em;
    display: block;
    width: 100%;
    color: #575757;
    margin-bottom: 2px;
    font-weight: bold;
}

#commentform label small {
    display: inline;
    font-size: 0.9em;
    font-style: italic;
    font-weight: normal;
    color: #7dafe6;
}

#commentfields #commentfields {
    display: block;
    margin-bottom: 4px;
}

#commentfields #commentfields .ibox {
    display: block;
    margin-bottom: 10px;
    width: 100%;
}

#commentfields .basicinput {
    display: block;
    padding: 7px 6px;
    font-size: 1.5em;
    width: 90%;
    outline: none;
    border: 1px solid #dbdbdb;
    color: #487cb7;
}

#commentfields textarea {
    display: block;
    padding: 5px 4px;
    font-size: 1.45em;
    width: 90%;
    height: 125px;
    outline: none;
    border: 1px solid #dbdbdb;
    color: #487cb7;
}

#commentform #comment {
    display: block;
    margin-bottom: 8px;
    color: #565656;
    font-size: 1.4em;
    font-family: Arial, Tahoma, sans-serif;
    line-height: 1.5em;
    padding: 4px 7px;
}

#commentform #submit, .button {
    @include btn;
    background: $primary-color;
    border-color: $primary-color;
}

#commentform #submit:hover, .button:hover {
    @include btn;
    background: $primary-color;
    border-color: $primary-color;
}

#commentform #submit:active, .button:active {
    position: relative;
    top: 1px;
}