// Variables

//width
$width: 80%;


// colors
$primary-color: 		#abcaea;
$secondary-color: 		#7ddaa4;

$black: 				#000;
$white: 				#fff;

$dark-grey:				#111;
$grey: 					#666;
$light-grey:			#f4f4f4;

$theme1:				#f2f2f2;
$theme2:				#8a8f6a;
$theme3:				#655d49;
$theme4:				#353535;
$theme5:				#282828;

// offset
$space: 				1rem;
$large-space: 			10rem;

//font
$font-space:			1em;