html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  outline: none;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

header {
  width: 100%;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  border: 0;
  max-width: 100%;
}

/* Grid */
.row:before, .row:after {
  content: " ";
  display: table;
}

.row:after {
  clear: both;
}

@media only screen and (min-width: 620px) {
  .row {
    width: 100%;
    box-sizing: border-box;
    display: inline-block;
    clear: both;
    padding: 0 15px;
    margin: 15px 0;
    /*debug*/
  }
  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    position: relative;
    float: left;
    box-sizing: border-box;
    margin: 0 0 15px 0;
    /*debug*/
  }
  .col-1 {
    width: 8.33333333%;
  }
  .col-2 {
    width: 16.66666667%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33333333%;
  }
  .col-5 {
    width: 41.66666667%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33333333%;
  }
  .col-8 {
    width: 66.66666667%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33333333%;
  }
  .col-11 {
    width: 91.66666667%;
  }
  .col-12 {
    width: 100%;
  }
}

/* header */
header {
  position: relative;
  text-align: center;
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 1rem;
  width: calc(100% - 2rem);
  transition: height .25s;
}

header .intro {
  font-family: Dosis, arial, sans-serif;
  position: relative;
  height: 100%;
  min-height: 60vh;
  opacity: 1;
  color: #fff;
  font-size: 1.75rem;
  padding: 1rem;
  box-sizing: border-box;
  margin: 0;
  font-size: 2em;
  font-weight: 400;
  line-height: 1.4;
  text-transform: uppercase;
  letter-spacing: 0.7em;
}

header .intro .intro__fog {
  background: transparent url("../img/fog.png") repeat top center;
  background-size: cover;
  -moz-animation: fogAnimation 200s linear infinite;
  -ms-animation: fogAnimation 200s linear infinite;
  -o-animation: fogAnimation 200s linear infinite;
  -webkit-animation: fogAnimation 200s linear infinite;
  animation: fogAnimation 200s linear infinite;
  opacity: .5;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
}

@keyframes fogAnimation {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}

@-webkit-keyframes fogAnimation {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}

@-moz-keyframes fogAnimation {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}

@-ms-keyframes fogAnimation {
  header .intro .intro__fog from {
    background-position: 0 0;
  }
  header .intro .intro__fog to {
    background-position: 10000px 0;
  }
}

header .intro .intro__fog.secondary {
  -moz-animation: fogAnimation 400s linear infinite;
  -ms-animation: fogAnimation 400s linear infinite;
  -o-animation: fogAnimation 400s linear infinite;
  -webkit-animation: fogAnimation 400s linear infinite;
  animation: fogAnimation 400s linear infinite;
}

header .intro .intro__fog.opposite {
  background-size: cover;
  -moz-animation: fogAnimatorOpposite 300s linear infinite;
  -ms-animation: fogAnimatorOpposite 300s linear infinite;
  -o-animation: fogAnimatorOpposite 300s linear infinite;
  -webkit-animation: fogAnimatorOpposite 300s linear infinite;
  animation: fogAnimatorOpposite 300s linear infinite;
}

@keyframes fogAnimatorOpposite {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 0;
  }
}

@-webkit-keyframes fogAnimatorOpposite {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 0;
  }
}

@-moz-keyframes fogAnimatorOpposite {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 0;
  }
}

@-ms-keyframes fogAnimatorOpposite {
  header .intro .intro__fog.opposite from {
    background-position: 0 0;
  }
  header .intro .intro__fog.opposite to {
    background-position: -10000px 0;
  }
}

header .intro .intro__head {
  position: relative;
  font-size: 0.5em;
  font-weight: 400;
  letter-spacing: 0.1em;
  line-height: 1.2;
}

header .intro .intro__face {
  width: 70px;
  height: 70px;
  border: 5px solid rgba(255, 255, 255, 0.5);
  margin: 1rem;
  position: relative;
  transition: all .25s;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

header .intro .intro__face:hover {
  border-bottom-left-radius: 0;
}

header .intro .intro__sub {
  position: relative;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 0.3em;
  line-height: 1.5;
}

@media only screen and (min-width: 620px) {
  header .intro__sub {
    max-width: 50%;
    margin: 1rem auto;
  }
}

header .logo {
  width: 60px;
  height: 40px;
  position: relative;
  padding: 0;
  margin: 1rem;
  float: left;
}

header .logo:before, header .logo:after {
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  border: 7px solid #fff;
  opacity: .5;
  transition: all .25s;
  box-sizing: border-box;
  -moz-border-radius: 50px 50px 0;
  border-radius: 50px 50px 0 50px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2), 0 1px 4px rgba(0, 0, 0, 0.2);
}

header .logo:after {
  left: 20px;
  right: 0;
  -moz-border-radius: 50px 50px 50px 0;
  border-radius: 50px 50px 50px 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

header .logo:hover:after {
  left: 47px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

header a, header a:hover {
  color: #fff;
  text-decoration: none;
}

/* navigation */
nav {
  background: rgba(255, 255, 255, 0.1);
  display: block;
  width: 100%;
  text-align: right;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

nav:before, nav:after {
  content: " ";
  display: table;
}

nav:after {
  clear: both;
}

nav ul {
  display: block;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline-block;
  position: relative;
  font-size: .75rem;
  box-sizing: border-box;
}

nav ul li:last-child a {
  border: 1px solid rgba(255, 255, 255, 0.75);
}

nav ul li a {
  display: block;
  margin: 1rem;
  padding: 0.25rem 1rem;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  transition: .25s ease-in;
  letter-spacing: 1px;
  box-sizing: border-box;
  border: 1px solid transparent;
}

nav ul li a:hover {
  color: #000;
  background: #fff;
  border: 1px solid #fff;
}

.hidden {
  display: none;
}

html {
  height: 100%;
}

body {
  color: #111;
  font-size: 14px;
  font-family: Raleway, arial, sans-serif;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  background: #fff;
}

@media only screen and (min-width: 1280px) {
  main {
    margin: 0 auto;
    /*max-width: $width;*/
  }
}

.post-filter {
  text-align: center;
  text-transform: uppercase;
}

.post-filter .filter-item {
  font-family: Dosis, arial, sans-serif;
  font-size: 13px;
  letter-spacing: 0.4em;
  color: #666;
  cursor: pointer;
  display: inline-block;
  width: 50%;
  margin: 0;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
}

.post-filter .filter-item.active {
  color: #111;
}

.post-filter .filter-item li {
  display: none;
  margin-right: 5px;
}

@media only screen and (min-width: 620px) {
  .post-filter .filter-item {
    width: auto;
  }
}

.post-grid__container {
  position: relative;
  /*background: $light-grey;*/
  background: -webkit-linear-gradient(45deg, #fff 10%, #f4f4f4 90%);
  background: linear-gradient(45deg, #fff 10%, #f4f4f4 90%);
  background-size: 200% 100% !important;
  overflow: hidden;
  -webkit-animation: gradientAnimation 10s ease infinite;
  animation: gradientAnimation 10s ease infinite;
  margin: 0;
  padding: 1rem;
  box-sizing: border-box;
}

@-webkit-keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media only screen and (min-width: 620px) {
  .post-grid__container {
    padding: 1rem 0 0 1rem;
  }
}

.post-grid {
  position: relative;
  display: block;
  max-width: 1280px;
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
}

#person.stamp {
  color: #353535;
  display: inline-block;
  border: 0px solid #f4f4f4;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
  background: -webkit-linear-gradient(45deg, #fff, #f4f4f4);
  opacity: 1;
  border-radius: 2px;
  width: 100%;
  margin: 0 1rem 1rem 0;
  overflow: hidden;
  box-sizing: border-box;
  transition: all .25s;
}

#person.stamp a, #person.stamp a:hover, #person.stamp a:visited, #person.stamp a:active {
  color: #353535;
}

@media only screen and (min-width: 620px) {
  #person.stamp {
    width: calc(25% - 1rem);
  }
}

#person.stamp .person__face {
  position: relative;
  left: calc(50% - 40px);
  top: -40px;
  width: 80px;
  height: 80px;
  border: 0px solid #fff;
  transition: all .25s;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

#person.stamp .person__introduction {
  padding: 1rem;
}

#person.stamp .person__social {
  font-size: 20px;
  padding: 0;
  display: flex;
  border-top: 1px solid #e8e8e8;
  background: #f2f2f2;
}

#person.stamp .person__social li {
  float: left;
  width: 33.333%;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  border-right: 1px solid #e8e8e8;
  text-align: center;
}

#person.stamp .person__social li:last-child {
  border: none;
}

#person.stamp:hover {
  color: #fff;
  background: #353535;
}

#person.stamp:hover .person__social {
  background: #353535;
  border-color: #292929;
}

#person.stamp:hover .person__social li {
  border-color: #292929;
}

.post-unit:not(.sharepoint) {
  color: #fff;
  height: 250px;
  display: inline-block;
  background: #353535;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
  opacity: 1;
  border-radius: 2px;
  width: 100%;
  margin: 0 1rem 1rem 0;
  overflow: hidden;
  box-sizing: border-box;
  display: none;
  position: relative;
}

.post-unit:not(.sharepoint) a, .post-unit:not(.sharepoint) a:hover, .post-unit:not(.sharepoint) a:visited, .post-unit:not(.sharepoint) a:active {
  color: #fff;
}

@media only screen and (min-width: 620px) {
  .post-unit:not(.sharepoint) {
    width: calc(50% - 1rem);
  }
}

.post-unit:not(.sharepoint).active {
  display: block;
}

.post-unit:not(.sharepoint) .post-unit__image {
  float: left;
  overflow: hidden;
  height: 100%;
}

.post-unit:not(.sharepoint) .post-unit__image img {
  height: 100%;
}

.post-unit:not(.sharepoint) .post-unit__intro {
  width: 50%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background: #353535;
  /*
        &:before {
            content: '';
            position: absolute;
            top: -25px;
            left: calc(50% - 30px);

            width: 0; 
            height: 0;
            border-left: 30px solid transparent;
            border-right: 30px solid transparent;
            border-bottom: 25px solid $white;
            transition: all .25s;
        }
        */
}

.post-unit:not(.sharepoint):nth-child(odd) .post-unit__intro {
  left: 0;
}

.css {
  color: #353535;
  display: inline-block;
  border: 0px solid #f4f4f4;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
  background: -webkit-linear-gradient(45deg, #fff, #f4f4f4);
  opacity: 1;
  border-radius: 2px;
  width: 100%;
  margin: 0 1rem 1rem 0;
  overflow: hidden;
  box-sizing: border-box;
  background: #353535;
}

.css a, .css a:hover, .css a:visited, .css a:active {
  color: #353535;
}

@media only screen and (min-width: 620px) {
  .css {
    width: calc(25% - 1rem);
  }
}

.css a, .css a:hover, .css a:visited, .css a:active {
  color: #fff;
}

.css .post-unit__image {
  width: 100%;
  overflow: hidden;
}

.css .post-unit__image img {
  height: auto;
  max-width: 100%;
}

.css .post-unit__intro {
  background: #353535;
  width: 100%;
}

.sharepoint {
  color: #353535;
  display: inline-block;
  border: 0px solid #f4f4f4;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
  background: -webkit-linear-gradient(45deg, #fff, #f4f4f4);
  opacity: 1;
  border-radius: 2px;
  width: 100%;
  margin: 0 1rem 1rem 0;
  overflow: hidden;
  box-sizing: border-box;
}

.sharepoint a, .sharepoint a:hover, .sharepoint a:visited, .sharepoint a:active {
  color: #353535;
}

@media only screen and (min-width: 620px) {
  .sharepoint {
    width: calc(25% - 1rem);
  }
}

.sharepoint .post-unit__image {
  width: 100%;
  overflow: hidden;
}

.sharepoint .post-unit__image img {
  height: auto;
  max-width: 100%;
}

.sharepoint .post-unit__intro {
  background: #fff;
  width: 100%;
}

.post-unit__more a {
  position: absolute;
  left: 1rem;
  top: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.75);
  padding: 0.5rem 1rem;
  border-radius: 0;
  color: #fff;
}

.post-unit__more:hover a:hover {
  color: #353535;
  background: #fff;
}

.post-unit__more:hover a:visited {
  color: #fff;
}

.post-unit-image {
  display: block;
  width: 100%;
  transition: all .2s ease-in-out;
}

.post-unit-image:hover {
  transform: scale(1.05);
  opacity: .5;
}

.post-title,
.post-cat,
.post-date {
  padding: 0.5rem 1rem;
}

.post-title {
  font-size: 12px;
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
}

.post-cat .post-categories {
  display: inline-block;
  clear: both;
}

.post-cat .post-categories > li {
  float: left;
  background: transparent;
  padding: 0 0.5rem 0 0;
  box-sizing: border-box;
  margin: 0;
}

.font-alt {
  font-family: Dosis, arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

p {
  font-size: 1.6em;
  line-height: 1.75em;
  color: #565656;
  margin-bottom: 12px;
}

a {
  text-decoration: none;
  color: #323232;
  transition: color .2s linear;
  -webkit-transition: color .2s linear;
  -moz-transition: color .2s linear;
}

a:hover {
  text-decoration: underline;
  color: #313131;
}

::selection {
  color: #fff;
  background: rgba(0, 0, 0, 0.85);
}

/* wrapper */
.wrapper {
  max-width: 100%;
  margin: 0 auto;
}

#site-header {
  color: #fff;
  margin-bottom: 35px;
}

#site-header h1 a, #site-header h1 a:hover,
#site-header #site-description a, #site-header #site-description a:hover {
  color: #fff;
  text-decoration: none;
}

#header-background {
  max-height: 450px;
  overflow: hidden;
}

h1 {
  margin-top: 0;
  position: relative;
  font-size: 48px;
  font-weight: 400;
  line-height: 1.4;
  text-transform: uppercase;
  letter-spacing: 0.7em;
  text-align: center;
}

h1 a {
  color: #575757;
}

h1 a:hover {
  color: #575757;
  text-decoration: none;
}

#mainbody {
  display: block;
  z-index: auto;
  width: 100%;
}

.btn {
  font-size: 1rem;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  color: #fff;
  position: relative;
  display: inline-block;
  padding: 0.5rem 2rem;
  margin: 30px auto;
  height: auto;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.75);
  -webkit-transition: all 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -moz-transition: all 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -ms-transition: all 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -o-transition: all 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  cursor: pointer;
}

.btn:hover {
  background: #fff;
  color: #666;
}

.back-to__top {
  position: fixed;
  right: 1rem;
  bottom: -3rem;
  padding: 0;
  background: rgba(244, 244, 244, 0.75);
  cursor: pointer;
  height: 3rem;
  width: 3rem;
  text-align: center;
  line-height: 48px;
  z-index: 1;
  border: 0;
  box-sizing: border-box;
  transition: bottom .25s;
}

.lock .back-to__top {
  bottom: 1rem;
}

#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 5px solid transparent;
  border-top-color: #f2f2f2;
  box-sizing: border-box;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  z-index: 1001;
}

#loader:before {
  content: "";
  position: absolute;
  top: -15px;
  left: -15px;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  border: 5px solid transparent;
  border-top-color: #8a8f6a;
  width: 100%;
  height: 100%;
  opacity: .5;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}

#loader:after {
  content: "";
  position: absolute;
  top: -15px;
  left: -15px;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  border: 5px solid transparent;
  border-top-color: #655d49;
  width: 100%;
  height: 100%;
  opacity: .5;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(34, 34, 34, 0.9);
  z-index: 1000;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

#loader-wrapper .loader-section.section-left {
  left: 0;
}

#loader-wrapper .loader-section.section-right {
  right: 0;
}

/* Loaded */
.loaded #loader-wrapper .loader-section.section-left {
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: all 0.3s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.3s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded #loader-wrapper .loader-section.section-right {
  display: none;
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: all 0.4s 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded #loader {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
  visibility: hidden;
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: all 0.3s 1s ease-out;
  transition: all 0.3s 1s ease-out;
}

/* JavaScript Turned Off */
.no-js #loader-wrapper {
  display: none;
}

/* footer */
footer {
  background: #fff;
  clear: both;
  text-align: center;
  font-style: normal;
  padding: 1rem;
  font-size: 1.4em;
  color: #434343;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

/* post */
#main {
  padding: 1rem;
}

#content {
  width: 100%;
  position: relative;
}

.post {
  display: block;
  margin-bottom: 25px;
  padding-top: 10px;
  padding-bottom: 15px;
}

.post header {
  display: block;
  margin-bottom: 25px;
}

.post p {
  margin-bottom: 20px;
  line-height: 1.7em;
}

.post header h2 {
  font-family: Segoe UI;
  font-size: 2.4em !important;
  line-height: 1.4em;
  margin-bottom: 4px !important;
  color: #323232;
}

.post header h2.bigger {
  font-size: 3.1em !important;
}

.post h2 {
  display: block;
  font-size: 2.4em;
  color: #434343;
  line-height: 1.4em;
  margin-bottom: 1rem;
}

.post h3 {
  font-size: 1.7em;
  color: #818181;
  border-bottom: 2px solid #ddd;
  border-top: 2px solid #ddd;
  padding: 6px 4px;
  background: #f5f5f5;
  margin-bottom: 15px;
  margin-top: 5px;
}

.post h4 {
  display: block;
  font-size: 1.4em;
  text-transform: uppercase;
  color: #56b972;
  line-height: 1.5em;
  margin-bottom: 3px;
  font-weight: bold;
  letter-spacing: 0.15em;
  text-decoration: none;
  padding-left: 25px;
  border-left: 3px solid #56b972;
}

.post .meta {
  font-size: 1.2em;
  line-height: 1.3em;
}

.post .meta i {
  display: block;
  margin-bottom: 10px;
  font-style: normal;
  color: #666;
}

.post blockquote {
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  background: #fbf0de;
  padding: 9px 15px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  margin-bottom: 18px;
}

.post blockquote p {
  font-style: italic;
  font-weight: normal;
  color: #797064;
  margin-bottom: 3px;
  font-size: 1.9em;
}

.post .postcontent {
  margin-bottom: 25px;
}

.post .more-link {
  display: block;
  font-size: 1.6em;
  font-weight: bold;
  margin-top: 15px;
}

.post p .more-link {
  font-size: 1.0em;
}

.postbrdr {
  border-bottom: 3px solid #ccc;
}

.archiveshead h2 {
  font-size: 2.2em;
  color: #454545;
  font-weight: bold;
  line-height: 1.55em;
}

#navbelow {
  display: block;
  width: 100%;
  padding: 0px;
  margin-top: -10px;
  margin-bottom: 15px;
}

.nav-prev {
  float: left;
  display: block;
}

.nav-next {
  float: right;
  display: block;
}

.nav-prev a, .nav-next a {
  display: block;
  padding: 3px 5px;
  font-size: 1.3em;
}

/* comments */
#comments {
  display: block;
  margin-top: 15px;
}

.post #comments h3 {
  font-size: 1.7em;
  line-height: 1.45em;
  color: #818181;
  border-bottom: 2px solid #ddd;
  border-top: 2px solid #ddd;
  padding: 6px 10px;
  background: #f5f5f5;
}

#comments #respond {
  margin-left: 0;
}

#comments .commentlist .comment #respond {
  margin-left: 35px;
  font-size: 1.0em;
}

/* for the threaded reply comment form styles */
#cancel-comment-reply {
  font-weight: bold;
  display: block;
  position: relative;
}

#cancel-comment-reply-link {
  display: block;
  padding: 0px 4px;
  font-size: 0.8em;
  position: absolute;
  right: 0;
  top: -12px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  transition: none;
  -webkit-transition: none;
  -moz-transition: none;
}

#cancel-comment-reply-link:hover {
  color: #fff;
  text-decoration: none;
  background: #5d9de5;
}

.commentlist {
  list-style: none;
}

.commentlist .comment {
  display: block;
  position: relative;
  margin-bottom: 28px;
}

.commentlist .comment .comment-author {
  position: relative;
}

.commentlist .comment .comment-author .avatar {
  display: inline-block;
  padding: 5px;
  background: #fafafa;
  border: 1px solid #ccc;
  margin-right: 15px;
}

.commentlist .comment .comment-author .fn {
  font-weight: bold;
  font-size: 1.65em;
  line-height: 1.1em;
  font-style: normal;
  position: absolute;
  top: 2px;
  color: #535353;
}

.commentlist .comment .comment-author .says {
  display: none;
}

.commentlist .comment .comment-meta {
  position: absolute;
  top: 25px;
  margin-left: 60px;
  font-size: 1.2em;
}

.commentlist .comment p {
  display: block;
  margin-top: 15px;
  padding-right: 10px;
}

.commentlist .comment .comment-body .reply {
  font-size: 1.3em;
}

.commentlist .comment .comment-body .reply a.comment-reply-link {
  display: inline-block;
  padding: 3px 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  transition: none;
  -webkit-transition: none;
  -moz-transition: none;
}

.comment-awaiting-moderation {
  font-size: 1.2em;
  color: #444;
  display: block;
  text-decoration: underline;
  text-align: center;
  margin-top: 4px;
  margin-bottom: -5px;
}

.commentlist .comment ul.children {
  margin-left: 40px;
  padding-top: 15px;
}

#commentform {
  display: block;
  width: 100%;
  margin-bottom: 0;
  margin-top: 6px;
}

#commentform label {
  font-size: 1.2em;
  line-height: 1.6em;
  display: block;
  width: 100%;
  color: #575757;
  margin-bottom: 2px;
  font-weight: bold;
}

#commentform label small {
  display: inline;
  font-size: 0.9em;
  font-style: italic;
  font-weight: normal;
  color: #7dafe6;
}

#commentfields #commentfields {
  display: block;
  margin-bottom: 4px;
}

#commentfields #commentfields .ibox {
  display: block;
  margin-bottom: 10px;
  width: 100%;
}

#commentfields .basicinput {
  display: block;
  padding: 7px 6px;
  font-size: 1.5em;
  width: 90%;
  outline: none;
  border: 1px solid #dbdbdb;
  color: #487cb7;
}

#commentfields textarea {
  display: block;
  padding: 5px 4px;
  font-size: 1.45em;
  width: 90%;
  height: 125px;
  outline: none;
  border: 1px solid #dbdbdb;
  color: #487cb7;
}

#commentform #comment {
  display: block;
  margin-bottom: 8px;
  color: #565656;
  font-size: 1.4em;
  font-family: Arial, Tahoma, sans-serif;
  line-height: 1.5em;
  padding: 4px 7px;
}

#commentform #submit, .button {
  font-size: 1rem;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  color: #fff;
  position: relative;
  display: inline-block;
  padding: 0.5rem 2rem;
  margin: 30px auto;
  height: auto;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.75);
  -webkit-transition: all 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -moz-transition: all 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -ms-transition: all 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -o-transition: all 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  cursor: pointer;
  background: #abcaea;
  border-color: #abcaea;
}

#commentform #submit:hover, .button:hover {
  background: #fff;
  color: #666;
}

#commentform #submit:hover, .button:hover {
  font-size: 1rem;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  color: #fff;
  position: relative;
  display: inline-block;
  padding: 0.5rem 2rem;
  margin: 30px auto;
  height: auto;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.75);
  -webkit-transition: all 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -moz-transition: all 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -ms-transition: all 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -o-transition: all 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  cursor: pointer;
  background: #abcaea;
  border-color: #abcaea;
}

#commentform #submit:hover:hover, .button:hover:hover {
  background: #fff;
  color: #666;
}

#commentform #submit:active, .button:active {
  position: relative;
  top: 1px;
}

.container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 100% !important;
  width: 100% !important;
  /*background: rgba(0,255,0,.5);*/
}
