// Misc
.alt {
  color: var(--color-white);
}

.hidden { display: none; }

@keyframes bgMove {
  0%   { background-position: 0 50%; }
  50%  { background-position: 0 100%; }
  100% { background-position: 0 0; }
}

@keyframes randomScale {
  0%   { transform: scale(1); }
  20%  { transform: scale(1.03); }
  40%  { transform: scale(1.05); }
  60%  { transform: scale(1.02); }
  80%  { transform: scale(1.04); }
  100% { transform: scale(1); }
}
