i.pulse {
  display: block;
  height: .5rem;
  width: .5rem;
  border-radius: 50%;
  background: rgb(62,184,136);
  animation: pulse 2s infinite;
}

// Animation
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(80, 80, 80, .5);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(40, 40, 40, 0);
  }
  100% {
    box-shadow: 0 0 0 10px rgba(40, 40, 40, 0);
  }
}
