.bg {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .fog {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;

    &-bg {
      background-image: url('/src/images/bg-small.jpg');
      background-size: cover;
      background-position: bottom;
      animation:
        bgMove 250s ease-in-out infinite alternate,
        randomScale 500s ease-in-out infinite alternate;
      will-change: background-position, transform;
      width: 100%;
      height: 100%;
      @media (min-width: 768px) {
        background-image: url('/src/images/bg-medium.jpg');
      }
      @media (min-width: 1200px) {
        background-image: url('/src/images/bg-large.jpg');
      }
    }

    img {
      position: absolute;
      bottom: 0;
      top: auto;
      max-width: 100%;
      animation: fog_effect calc(3s * var(--i)) ease-in infinite;
    }
  }
}

@keyframes fog_effect {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  25%,
  75% {
    opacity: 1;
  }
  100% {
    transform: scale(3);
    opacity: 0;
  }
}
