@mixin link-colors($normal, $hover: false, $active: false, $visited: false, $focus: false) {
    position: relative;
    text-decoration: none;
    color: $normal;
    @if $visited {
      &:visited {
        color: $visited;
      }
    }
    @if $focus {
      &:focus {
        color: $focus;
      }
    }
    @if $hover {
      &:hover {
        color: $hover;
      }
    }
    @if $active {
      &:active {
        color: $active;
      }
    }
    &:after {
      content: "";
      width: 0%;
      position: absolute;
      left: 0;
      bottom: -1px;
      border-width: 0 0 1px;
      border-style: solid;
      transition: .4s ease all;
      border-color: $hover;
      opacity: .75;
    }
    &:hover {
      &:after {
        width: 100%;
        transition: .2s ease all;
      }
    }
  }