@keyframes animate {
    0% {
        background-position: 0px;
    }
    100% {
        background-position: 5000px;
    }
}
@keyframes animateReverse {
    0% {
        background-position: 5000px;
    }
    100% {
        background-position: 0px;
    }
}