// font basics
$base-fontsize:         14px;
$base-lineheight:       1.75;
$color-text:            #000;

$s:                     10px;
$m:                     14px;
$l:                     18px;
$xl:                    22px;

// fontstacks
$default-font:          sans-serif;

// colors
$primary-color:         #212121;
$secondary-color:       #fafafa;
$bg-color:              #111111;
$grey:                  #302929;
$dark-grey:             #bdbdbd;

// spacing
$space:                 1rem;

// shadow
$shadow:                0 1px 2px 0 rgba(0, 0, 0, 0.25);

.large { font-size: 4rem; }
.medium { font-size: 3rem; }
.small { font-size: 2rem; }

.right { justify-content: flex-end; }
.left { justify-content: flex-start; }