// font basics
$base-fontsize:         14px;
$base-lineheight:       1.75;
$color-text:            #000;

$s:                     10px;
$m:                     14px;
$l:                     18px;
$xl:                    22px;

// fontstacks
$default-font:          sans-serif;

// colors
$primary-color:         #000;
$grey:                  #fafafa;

// spacing
$space:                 1rem;

// shadow
$shadow:                0px 1px 1px 0px rgba(0, 0, 0, 0.25);