html {
	* {
		box-sizing: border-box;
	}
	box-sizing: border-box;
	font: #{$base-fontsize}/#{$base-lineheight} $default-font;
	color: $color-text;
	// remove iOS highlight on touch
	-webkit-tap-highlight-color: transparent;

	// resize entire site, has issues with o-content mq's
	@media screen and (min-width: em(2560px,16px)) {
		font-size: 1.2em;
	}
}