// Import components
@use 'components/_helpers';
@use 'components/_fog';
@use 'components/_pulse';

// Default theme
:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --bg-color: #ffffff;
  --text-color: #000000;
  --border-color: #e3e3e3;
  --spacing: 1rem;
  --panel-color: #fafafa;
  --accent-color: #646cff;
  --border-radius: .25rem;
  --shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2);
  --mobile-breakpoint: 480px;
  --tablet-breakpoint: 768px;
  --desktop-breakpoint: 1200px;
  --panel-opacity: rgba(49,49,49,.5);
}

// User override classes
html {
  &[data-theme="light"] {
    --bg-color: #ffffff;
    --text-color: #111111;
    --border-color: #ffffff;
    --panel-color: #f5f5f5;
    --shadow: 0 0 0 1px rgba(150,150,150,.15), 0 2px 3px rgba(150,150,150,.2);
    --panel-opacity: rgba(250,250,250,.5);

    .mode-light {
      display: none;
    }

    h1 {
      transform: translate(3rem,calc(100vh - 4rem));
    }
  }

  &[data-theme="dark"] {
    --bg-color: #2a2a2a;
    --text-color: #e3e3e3;
    --border-color: #2a2a2a;
    --panel-color: #313131;
    --shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2);
    --panel-opacity: rgba(49,49,49,.5);

    .mode-dark {
      display: none;
    }
  }

  body {
    font: 12px sans-serif;
    color: var(--text-color);
    background: var(--bg-color);
    padding: var(--spacing);
    margin: 0 auto;
    position: relative;
  }
}

// Global reset
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: background .15s, color .15s;
}

// Heading
h1 {
  display: none;
  color: var(--text-color);
  opacity: .5;
  position: fixed;
  top: 0;
  left: 0;
  letter-spacing: var(--spacing);
  text-transform: uppercase;
  transition: transform .15s;
  transform: translate(3rem,3rem);
  pointer-events: none;
  @media (min-width: 720px) {
    display: block;
  }
}

// Buttons
button {
  border-radius: var(--border-radius);
  border: 1px solid transparent;
  padding: .6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: var(--text-color);
  background-color: var(--bg-color);
  cursor: pointer;
  transition: border-color .25s;

  &:hover {
    border-color: var(--accent-color);
  }
}

// Mode buttons
.mode-buttons {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--spacing);
  pointer-events: none;

  .mode {
    padding: 0;
    margin: 0;
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius);
    pointer-events: auto;
    cursor: pointer;

    svg {
      height: 16px;
      width: 16px;
    }
  }
}

.mode-light,
.mode-dark {
  display: none;
}

svg {
  opacity: .25;
  transition: scale .25s ease, transform .1s ease-in;

  &:hover {
    scale: 1.25;
  }
}

// Flex container
.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  box-shadow: var(--shadow);
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.flex {
  background: var(--panel-color);
  border-bottom: 1px solid var(--border-color);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
  padding: var(--spacing);
  width: 100%;
  height: 25vh;

  button.title {
    font-size: 10px;
    position: absolute;
    z-index: 1;
    top: .5rem;
    left: .5rem;
    border-radius: var(--border-radius);
    background-color: var(--bg-color);
    padding: .35rem .5rem;
    color: var(--text-color);
  }

  span.name {
    position: relative;
    text-transform: capitalize;
    padding: .5rem .75rem;
    border-radius: var(--border-radius);
    border: 1px solid var(--accent-color);
    background: var(--bg-color);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;

    i {
      display: block;
      height: .5rem;
      width: .5rem;
      border-radius: 50%;
      background: #9fccef;
      animation: pulse 2s infinite;
    }

    &:last-child {
      i {
        background: #ffd2e8;
      }
    }
  }

  &:nth-child(1) {
    background: url('/src/images/kris.png') center / 100% auto no-repeat;
    animation: bgMove 350s ease-in-out infinite alternate;
    will-change: background-position;

    @media (min-width: 720px) {
      background: url('/src/images/kris.png') center / 100% 625px no-repeat;
    }
  }

  &:nth-child(2) {
    .context {
      z-index: 1;
      padding: .5rem .75rem;
      color: var(--text-color);
      background-color: var(--bg-color);
      border-radius: var(--border-radius);
    }
  }

  &:nth-child(5) {
    background: none;

    .context {
      z-index: 1;
      padding: .5rem .75rem;
      color: var(--text-color);
      background-color: var(--bg-color);
      border-radius: var(--border-radius);
    }

    &:before {
      content: "";
      opacity: .5;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: url('/src/images/lines.svg') center repeat;
    }

    &:after {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: url('/src/images/traveling.jpg') center bottom no-repeat;
      background-size: cover;
      animation: bgMove 200s ease-in-out infinite alternate;
      will-change: background-position;
    }

    svg {
      opacity: 1;
    }
  }

  &:last-child {
    border-bottom: 0;
  }
}

.last-name .content {
  z-index: 1;
}

.work {
  background: rgba(49,49,49,.5);
}
@media (min-width: 720px) {
  .work {
    background: var(--panel-color);
  }
  .proud {
    background: var(--panel-opacity);
  }
}

.parent {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: end;
  gap: .5rem;

  &:first-child {
    padding: .5rem .75rem;
  }
}

// Profile image
.me {
  position: absolute;
  top: 0;
  right: var(--spacing);
  border: 1px solid var(--accent-color);
  background: var(--color-white);
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  transform: translateY(-50%);
  transition: all .15s ease;

  @media (min-width: 720px) {
    top: var(--spacing);
    transform: translateY(0);
  }

  img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  i.pulse {
    width: .75rem;
    height: .75rem;
    position: absolute;
    bottom: 0;
    right: .35rem;
  }
}

// Context
.context {
  &.job,
  &.travel,
  &.hobby {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    position: relative;
  }

  &.job,
  &.set {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity .5s, transform 1s;
    padding: 3rem;
  }
  &.job {
    opacity: 1;
  }
  &.set {
    opacity: 0;
    .set-list {
      margin-top: -1rem;
    }
  }
}

// Hover interactions
.work {
  &:hover {
    .context.job {
      opacity: 0;
      transform: translateY(1rem);
    }
    .context.set {
      opacity: 1;
      transform: translateY(1rem);
    }
  }
}

// Lists
.set-list,
.customers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: .75rem;
  padding: 0;
  margin: 0;

  li {
    font-size: 10px;
    background: var(--panel-color);
    border-radius: var(--border-radius);
    padding: .35rem .5rem;
    margin: 0;
    list-style: none;
  }
}

.set-list li {
  background: var(--bg-color);
}

.customers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem var(--spacing) 3rem var(--spacing);
  gap: 2rem;

  &-list {
    color: var(--text-color);
  }

  h1, h2, h3, h4, h5, h6 {
    color: var(--text-color);
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: var(--spacing);
  }

  &:hover {
    svg {
      opacity: .5;
      transform: translate(.25rem, -.25rem);
    }
  }
}

// Responsive
@media (min-width: 720px) {
  html {
    body {
      padding: 3rem;
    }

    .flex-container {
      width: 65vw;
      margin-left: auto;
    }

    .flex {
      width: 50%;
      height: calc((100vh - 6rem) / 3);
      padding: 3rem;

      &:nth-child(odd) {
        border-right: 1px solid var(--border-color);
        border-bottom: 1px solid var(--border-color);
      }
      &:nth-child(even) {
        border-bottom: 1px solid var(--border-color);
      }
      &:nth-child(5), &:nth-child(6) {
        border-bottom: 0;
      }
    }

    .mode-buttons {
      bottom: auto;
      left: auto;
      right: 0;
      top: 0;
    }

    .parent {
      flex-direction: row;
      gap: var(--spacing);
      align-items: center;
    }

    .customers {
      margin: 3rem 0 0 0;

      &-list {
        max-width: 40vw;
      }
    }
  }
}

body:hover #main {
  opacity: 1;

  #main {
    opacity: 0;
    transition: opacity 0.5s ease;
    will-change: opacity;
  }
}
