.back__button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.3);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: absolute;
    top: -25px;
    background: #fff;
    color: $secondary-color;
    transition: box-shadow 150ms cubic-bezier(.4,0,1,1);
    &:hover {
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    }
}