.content {
    margin: -$space*10 0 $space*10 0;
    position: relative;
    &__outer {
        position: relative;
        height: $space*10;
        &:after {
            content: '';
            background: url(../img/lines.svg);
            display: block;
            height: 100%;
            width: 100%;
        }
    }
    &__navigation {
        margin: 0 $space*4 $space*2 $space*4;
        color: #fff;
        a { @include link-colors(#fff, $secondary-color, #fff, #fff, #fff); }
        .site__title {
            font-size: $xl;
        }
        .site__breadcrumb {
            font-size: $m;
        }
    }
    &__inner {
        position: relative;
        padding: $space*2 $space*4;
        margin: 0;
        min-height: 100vh;
        background: #fff;
        box-shadow: $shadow;
    }
}