footer {
    padding: $space;
    background: $grey;
    a { @include link-colors($secondary-color, $primary-color, $secondary-color, $secondary-color, $secondary-color); }
    ul {
        display: flex;
        padding: 0;
        margin: 0;
        li {
            list-style: none;
            padding: $space;
            margin: 0;
        }
    }
}