footer {
    box-shadow: -5px 0 10px rgba(0,0,0,.1);
    padding: $space;
    background: $bg-color;
    border-top: 1px solid rgba(255,255,255,.2);
    a { @include link-colors($secondary-color, $primary-color, $secondary-color, $secondary-color, $secondary-color); }
    ul {
        display: flex;
        padding: 0;
        margin: 0;
        li {
            list-style: none;
            padding: $space;
            margin: 0;
        }
    }
}