.row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column wrap;
    .container {
        display: flex;
        width: 100%;
        flex-flow: row wrap;
        max-width: 1110px;
        margin: auto;
        &-fluid {
            display: flex;
            width: 100%;
            max-width: none;
            flex-flow: row wrap;
            margin: auto;
        }
    }
    *[class*='col-'] {
        display: inline-block;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-flow: column;
        flex-flow: column;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    @for $i from 1 through 12 {
        .col-#{$i} { 
            width: 100% / 12 * $i;
        }
    }
}