header {
    height: 4rem;
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    padding: 0 $space;
    border-bottom: 1px solid rgba(255,255,255,.25);
    a { @include link-colors(#fff, #fff, #fff, #fff, #fff); }
    nav {
        ul {
            display: flex;
            justify-content: flex-end;
            padding: 0;
            margin: 0;
            li {
                list-style: none;
                padding: 0 0 0 $space*2;
                margin: 0;
            }
        }
    }
}