main {
    padding: 0;
    .banner {
        padding: 4rem 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: row wrap;
        position: relative;
        width: 100%;
        //fallback
        height: 431px;
        height: calc(100vh - 100vh + 431px * 2 / 2 + 14px - 1rem);
        color: #fff;
        &__text {
           display: flex;
           justify-content: center;
           align-content: center;
           font-size: 3rem;
           max-width: 450px;
           text-shadow: 2px 2px rgba(2,2,2,.5);
        }
        &__intro, &__action {
            display: flex;
            width: 100%;
            justify-content: center;
        }
        &__persona {
            position: relative;
            font-size: 4rem;
            color: $primary-color;
            padding: 0rem 2rem;
            text-transform: uppercase;
            background: linear-gradient(to left, rgba(255,255,255,0) 0%,rgba(231, 230, 230, 0) 30%,rgba(255,255,255,1) 30%,rgba(255,255,255,1) 100%);
            border-right: 1px solid rgba(255,255,255,.25);
            i {
                font-size: 0;
            }
        }
        &__highlight {
            padding: 25px 50px;
            margin: 5px;
            color: $primary-color;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            span {
                font-size: 3rem;
            }
        }
        figure {
            padding: 0;
            margin: 0;
            img {
                width: 100%;
            }
        }
    }
    .content {
        margin: 100px 0;
        position: relative;
        &__navigation {
            margin: 0 $space*4 $space*2 $space*4;
            color: #fff;
            a { @include link-colors(#fff, $secondary-color, #fff, #fff, #fff); }
            .site__title {
                font-size: $xl;
            }
            .site__breadcrumb {
                font-size: $m;
            }
        }
        &__inner {
            position: relative;
            padding: $space*2 $space*4;
            margin: 0;
            min-height: 100vh;
            background: #fff;
            box-shadow: $shadow;
        }
    }
}