@charset "utf-8";
@viewport {
    zoom: 1.0;
    width: device-width;
}

// Settings
@import "settings/_variables";
@import "settings/_animations";

// Base
@import "base/_normalize";
@import "base/_elements";

// Layout
@import "layout/_footer";
@import "layout/_grid";
@import "layout/_header";
@import "layout/_main";